li {
  cursor: pointer;
  display: flex;
  margin-bottom: 5px;
  margin-left: 10px;
}
li img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
li span {
  line-height:  20px;
}
.completed {
  text-decoration:line-through;
}